/.idea/*


Library/

obj/

Temp/

UnityPackageManager/

unity-3\.apk

*.user

*.csproj

*.sln

ProjectSettings/

Packages/

Logs/

*.meta

*.unity

Scenes/

Assets/Plugins/Android/

Assets/Plugins/Editor/
