<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.ronash.pushe"
    android:installLocation="internalOnly"
    android:versionCode="10040"
    android:versionName="1.4.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25"
        tools:overrideLibrary="net.vrallev.android.cat, com.evernote.android.job" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BIND_JOB_SERVICE" />

    <application>
        <service
            android:name="co.ronash.pushe.service.GcmService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" >
            <intent-filter android:priority="999" >
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="co.ronash.pushe.receiver.FallbackGcmNetworkManagerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="co.ronash.pushe.CHECK_TASKS" />
            </intent-filter>
        </receiver>
        <receiver android:name="co.ronash.pushe.receiver.BootAndScreenReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name="co.ronash.pushe.service.ScreenStateService" >
            <intent-filter>
                <action android:name="co.ronash.pushe.service.ScreenStateService" />
            </intent-filter>
        </service>

        <receiver android:name="co.ronash.pushe.receiver.ConnectivityReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="co.ronash.pushe.receiver.AddReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.evernote.android.job.ADD_JOB_CREATOR" />
            </intent-filter>
        </receiver>
        <receiver android:name="co.ronash.pushe.receiver.AppChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="co.ronash.pushe.service.FallbackGcmTaskRunner"
            android:exported="false" >
            <intent-filter>
                <action android:name="co.ronash.pushe.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="co.ronash.pushe.task.scheduler.gcm.GcmTaskRunner"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" >
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
        <service
            android:name="co.ronash.pushe.service.IntentTaskRunner"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="co.ronash.pushe.service.InstanceIDService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="co.ronash.pushe.activities.PopupDialogActivity"
            android:theme="@style/PusheTransparent" >
        </activity>
        <activity android:name="co.ronash.pushe.activities.WebviewActivity" >
        </activity>
        <activity
            android:name="co.ronash.pushe.activities.RequestAccessDialogActivity"
            android:theme="@style/PusheTransparent" >
        </activity>

        <service android:name="co.ronash.pushe.service.PusheActivityService" />

        <service
            android:name="co.ronash.pushe.task.tasks.NetworkConnect"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="co.ronash.pushe.receiver.PusheGcmReceiver"
            android:permission="android.permission.BIND_JOB_SERVICE" />

             <service
            android:name="com.evernote.android.job.v21.PlatformJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name="com.evernote.android.job.v14.PlatformAlarmService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service
            android:name="com.evernote.android.job.v14.PlatformAlarmServiceExact"
            android:exported="false"/>

        <receiver
            android:name="com.evernote.android.job.v14.PlatformAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <!-- Keep the filter for legacy intents -->
                <action android:name="com.evernote.android.job.v14.RUN_JOB"/>
                <action android:name="net.vrallev.android.job.v14.RUN_JOB"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.evernote.android.job.JobBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.evernote.android.job.gcm.PlatformGcmService"
            android:enabled="false"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <service
            android:name="com.evernote.android.job.JobRescheduleService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

    </application>

</manifest>
