<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity3d.player"
	android:installLocation="preferExternal"
    android:versionCode="1004000"
    android:versionName="1.4.0">
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>
  <uses-sdk
    android:minSdkVersion="14"
    android:targetSdkVersion="25"/>

<uses-sdk
	tools:overrideLibrary="co.ronash.pushe" />

<permission
	android:name="co.ronash.pushesampleunity.permission.C2D_MESSAGE"
	android:protectionLevel="signature" />
<uses-permission
	android:name="co.ronash.pushesampleunity.permission.C2D_MESSAGE" />
<uses-permission
android:name="android.permission.ACCESS_NETWORK_STATE"/>
<!-- Optional permissions -->

<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
                               
  <application
		android:theme="@style/UnityThemeSelector"
		android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:debuggable="true">
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>

	<receiver android:name="co.ronash.pushe.receiver.UpdateReceiver" >
		<intent-filter>
			<action android:name="android.intent.action.PACKAGE_REPLACED" />

			<data
				android:path="co.ronash.pushesampleunity"
				android:scheme="package" />
		</intent-filter>
	</receiver>

    <receiver
        android:name="com.google.android.gms.gcm.GcmReceiver"
        android:exported="true"
        android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />

            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            <category android:name="${applicationId}" />
        </intent-filter>
    </receiver>

    <provider
        android:name="co.ronash.pushe.provider.PusheProvider"
        android:authorities="co.ronash.pushesampleunity.co.ronash.pushe.pusheprovider"
        android:exported="false"
        android:enabled="true"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
    </provider>

<meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_76583046756"/>
<meta-data android:name="co.ronash.pushe.cr" android:value="aHR0cDovLzcxOTI5YWQ2ZGEyNjQ4ZDhhMWE5ZDQxNmEwZGRmNWExOjE0ZTM5ZWMyZTE2OTRhNWM4MGNkNzMzYTIyYjlkZmE2QGNhLnB1c2hlLmlyLzQxNDI="/>

</application>
</manifest>
